@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Inria+Serif:ital,wght@0,400;1,700&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
  margin: 0 100px;
}

.nav-logo {
  font-weight: 900;
  font-size: 24px;
  color: #ee0c0c;
}

.nav-items {
  display: flex;
  flex-direction: row;
}

.nav-items a {
  padding: 0 25px;
  text-decoration: none;
  color: #ee0c0c;
  font-size: 16px;
}

.hero {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}

.hero .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(assets/hero.jpg);
}

.hero .image-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 250, 138, 0.6);
}

.hero-title {
  text-align: center;
  position: absolute;
  color: #efefef;
}

.tagline {
    margin-bottom: 50px;
}

.hero-title h1 {
  font-size: 60px;
  font-weight: 700;
  margin-top: 160px;
  color: #ee0c0c;
}

.hero-title li {
    list-style-type: none;
    font-size: 20px;
    color: #ee0c0c;
    display: inline;
    margin: 0 100px;
    font-weight: 1000;
}

.hero-title a {
  align-items: center;
  padding: 10px 30px;
  background-color: #ee0c0c;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.hero a:hover {
    color: #ee0c0c;
    background-color: white;
}

.content {
  padding: 100px 0;
}

.content h3 {
  text-align: center;
  color: #ee0c0c;
  font-size: 30px;
  font-weight: 900;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.boxes div {
  height: 320px;
  width: 270px;
  margin: 40px;
  border-radius: 8%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boxes img {
  border-radius: 6%;
  margin-top: 20px;
}

.boxes p {
  margin-top: 10px;
  font-size: 18px;
  color: #ee0c0c;
  font-weight: 700;
}

footer {
  display: flex;
  height: 100px;
  background-color: #ee0c0c;
  justify-content: center;
  align-items: center;
}

footer p {
  color: white;
  font-size: 16px;
}

/* about */
.profile {
  padding: 100px 0;
  background-color: #fffa8a;
}

.profile-content {
  justify-content: center;
  align-items: center;
  display: flex;
}

.profile h3 {
  color: #ee0c0c;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.profile img {
  border-radius: 50%;
  background-color: #ee0c0c;
  float: left;
  margin-bottom: 50px;
}

.profile-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #ee0c0c;
  margin-top: 20px;
  margin-left: 50px;
}

.profile-data .text-1 {
  height: 200px;
  width: 200px;
  font-weight: 600;
}

.profile-data .text-2 {
  height: 200px;
  width: 400px;
}
